<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
  <meta charset="UTF-8"/>
  <title>Testing</title>
  <title>Default Page</title>
  <link href="../static/css/hello.css" th:href="@{/css/hello.css}" rel="stylesheet" media="screen">
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen">
  <link href="../static/css/twitter_core.bundle.css" th:href="@{/css/twitter_core.bundle.css}" rel="stylesheet" media="screen">
  <link href="../static/css/twitter_more_1.bundle.css" th:href="@{/css/twitter_more_1.bundle.css}" rel="stylesheet" media="screen">
  <link href="../static/css/twitter_more_2.bundle.css" th:href="@{/css/twitter_more_2.bundle.css}" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon" />

  <script src="../static/js/hello.js" th:src="@{/js/hello.js}"></script>
  <script src="../static/js/jquery-2.2.1.min.js" th:src="@{/js/jquery-2.2.1.min.js}"></script>
  <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>